/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(#222222 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #222222 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #222222 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;

  color: white;
  margin-top: 20px;

}
input[type=text] {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto 50px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: calc(100% - 100px);
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
